# profile|name|engine|rw|bs|small_pct|medium_pct|large_pct|small_mb|medium_min_mb|medium_max_mb|large_min_mb|large_max_mb|sample_seconds
profile|media-read|pattern-dd|read|4M|55|35|10|1|16|128|128|512|5

